<%- include('../layouts/header'); %>

<section class="ftco-section" id="list">
  <div class="container">
    <div class="row justify-content-center pt-3 pb-1 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2>Detail Adobted Pets</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table
        id="tableM"
        class="table table-bordered table-striped"
        data-toggle="table"
        data-sticky-header="true"
        data-click-to-select="true"
        data-filter-control="true"
        data-toolbar="#toolbar"
        data-buttons="buttons"
        data-search="true"
      >
        <thead class="bg-success">
          <tr class="table-success">
            <th>No</th>
            <th>Name</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% petAdobts.forEach((data,i) => { %>
          <tr>
            <td><%= i + 1 %>.</td>
            <td><%= data.adobt.name %></td>
            <!-- <td><%= data.total %></td> -->
          </tr>
          <% }) %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer'); %>
